:root {
    --primary-blue: #0b3954;
    --secondary-blue: #087e8b;
    --light-blue: #bfd7ea;

    --primary-red: #ff5a5f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    height: 100vh;
    width: 100vw;
}

button {
    padding: 1rem;

    font-weight: 700;
    color: var(--light-blue);

    background-color: var(--secondary-blue);
    border: 0.3rem solid var(--light-blue);
    border-radius: 1rem;
}

button:hover {
    cursor: pointer;

    color: var(--secondary-blue);
    background-color: var(--light-blue);
    border-color: var(--secondary-blue);
}

button:active {
    cursor: pointer;

    color: var(--light-blue);
    background-color: var(--secondary-blue);
    border-color: var(--light-blue);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: auto;
    padding: 1rem;

    color: var(--light-blue);
    background-color: var(--primary-blue);
}

header > .logo {
    display: flex;

    font-size: 3rem;
}

.logo > img {
    width: 3vw;
    height: auto;
}

header > button {
    font-size: 1.5rem;
}

.sidebar {
    grid-area: 2 / 1 / -1 / 2;

    padding: 1rem;

    height: 100%;
    width: 10vw;

    background-color: var(--secondary-blue);
}

.sidebar > h1 {
    margin: 1rem;

    color: var(--light-blue);
    font-size: 1.8rem;
    text-align: center;

    text-decoration: underline;
}